<%= form_for(@comman) do |f| %>
  <% if @comman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comman.errors.count, "error") %> prohibited this comman from being saved:</h2>

      <ul>
      <% @comman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :\ %><br>
    <%= f.text_field :\ %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
