<h1>Listing commen</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>\</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @commen.each do |comman| %>
      <tr>
        <td><%= comman.post_id %></td>
        <td><%= comman.\ %></td>
        <td><%= comman.body %></td>
        <td><%= link_to 'Show', comman %></td>
        <td><%= link_to 'Edit', edit_comman_path(comman) %></td>
        <td><%= link_to 'Destroy', comman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comman', new_comman_path %>
