<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comman.post_id %>
</p>

<p>
  <strong>\:</strong>
  <%= @comman.\ %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comman.body %>
</p>

<%= link_to 'Edit', edit_comman_path(@comman) %> |
<%= link_to 'Back', commen_path %>
